* {
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
}

pre code span {
  font-family: Fira code, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
}
code {
  font-family: Fira code, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
}